.catlinks {
  background-color: $gray;
  border-radius: 3px;
  margin-top: 40px;
  padding: 10px 15px;

  .mw-normal-catlinks > a {
    float: left;
  }

  ul {
    display: inline;
    font-family: $ff-sans-default;
    margin: 0;
    padding: 0;

    li {
      border-left: none;
      display: inline-block;
      list-style: none;
      margin: 0 5px 0 0;
      padding: 0;

      a {
        border-right: 1px solid darken($gray,25%);
        padding-right: 5px;
      }
    }
    li:last-child a {
      border: none;
    }
  }
}