.main-content-wrapper {
  background-color: #fff;
  border: 1px solid $gold;
  border-radius: 3px;
  line-height: 1.6;
  padding: 30px;
  padding-top: 10px;
  position: relative;
  z-index: 100;

  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.main-content {

  .page-title {
    border-bottom: 1px solid $gold;
    color: $red;
    font-size: 33px;
    margin: 0 -5px 20px;
    padding: 0 5px 10px;
  }

  p,
  ul,
  ol,
  dd,
  dl,
  dt {
    font-family: $ff-serif;
  }

  h2 {
    color: $red;
  }
  h2 {
    border-bottom: 1px solid lighten($gold,35%);
    font-size: 24px;
    //font-weight: bold;
    margin: 25px -5px 20px;
    padding: 0 5px 10px;
  }
  h3 {
    //font-weight: bold;
    font-size: 20px;
  }

  a {
    text-decoration: underline;
  }

  .mw-editsection {
    color: $text;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    text-transform: lowercase;

    a {
      text-decoration: none;
    }

  }

  blockquote {
    background-color: $gray;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}