#p-personal {
  margin-bottom: 10px;

  @media screen and (min-width: 992px) {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: right;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}