.sidebar {
  background-color: $yellow;
  border: 1px solid $gold;
  border-radius: 3px;
  color: $textOnGold;
  margin-top: 29px;
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    line-height: 1.2;
    list-style: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }
  h3 {
    font-family:$ff-sans-bold-default ;
    font-size: 16px;
    margin-top: 0;
  }
  @media (max-width: 768px) {
    li {
      display: inline-block;
      &:after {
        content: ', ';
      }
      &:last-child:after {
        content: '';
      }
    }
  }
  .mw-portlet {
    padding: 10px;



    + .mw-portlet {
      border-top: 1px solid $gold;
      padding-top: 20px;
    }


  }
}