.sidebar {
  background-color: $yellow;
  border: 1px solid $gold;
  color: $textOnGold;
  margin-top: 29px;
  padding: 10px;

  li {
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .portal {
    padding: 10px;

    h3 {
      font-weight: bold;
      font-size: 16px;
      margin-top: 0;
    }
    
    + .portal {
      border-top: 1px solid $gold;
      padding-top: 20px;
    }

    @media (max-width: 768px) {
      li {
        display: inline-block;
        &:after {
          content: ', ';
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
}