<html>
<head>
  <title>Wiki</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">

    <header class="header row align-items-center px-4">
      {% include "components/_header.twig" %}
    </header>

    <div class="layout row px-4">
      <div class="col order-lg-2">
        {% include "components/_main--utilities.twig" %}
        {% include "components/_main--content.twig" %}
      </div>
      <div class="col-lg-auto order-lg-1 px-3 px-lg-0">
        {% include "components/_sidebar.twig" %}
      </div>
    </div>

    {% include "components/_analytics.twig" %}

  </div>
</body>
</html>

