@charset "UTF-8";
#ca-view a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-edit a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-history a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-watch a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-delete a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-move a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-protect a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-nstab-main a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#ca-talk a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#pt-userpage a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#pt-mytalk a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

#pt-logout a:before {
  content: "";
  font-family: "FontAwesome";
  font-size: .85em;
  margin-right: 4px; }

body {
  color: #3D3D3D;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

@media screen and (min-width: 768px) {
  .text-right--sm {
    text-align: right; } }

a,
a:focus {
  color: #0069D6; }

a:hover {
  color: #0a82ff; }

a.new {
  color: #BB0000; }
  a.new:hover {
    color: #ee0000; }

.btn-red {
  color: #fff;
  background-color: #922A1E;
  border-color: #531811; }
  .btn-red:hover {
    color: #fff; }
  .btn-red:focus {
    color: #fff; }

.form-control {
  border-color: #C19A46; }

.header {
  background-color: #fff;
  border-top: 10px solid #922A1E;
  border-bottom: 1px solid #C19A46;
  margin-bottom: 30px; }

.site-name {
  color: #922A1E;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 0; }
  @media screen and (min-width: 992px) {
    .site-name {
      margin-bottom: 10px; } }
  .site-name a {
    color: #922A1E; }

.header ul.list-inline {
  float: left; }

#menu {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  position: relative;
  z-index: 100; }
  #menu:before {
    content: "";
    font-family: "FontAwesome";
    font-size: .85em;
    margin-right: 4px; }

.sidebar {
  background-color: #FCF2BF;
  border: 1px solid #C19A46;
  color: #4B3C1C;
  margin-top: 29px;
  padding: 10px; }
  .sidebar li {
    line-height: 1.2;
    margin-bottom: 5px; }
  .sidebar .portal {
    padding: 10px; }
    .sidebar .portal h3 {
      font-weight: bold;
      font-size: 16px;
      margin-top: 0; }
    .sidebar .portal + .portal {
      border-top: 1px solid #C19A46;
      padding-top: 20px; }
    @media (max-width: 768px) {
      .sidebar .portal li {
        display: inline-block; }
        .sidebar .portal li:after {
          content: ', '; }
        .sidebar .portal li:last-child:after {
          content: ''; } }

.main-content-wrapper {
  background-color: #fff;
  border: 1px solid #C19A46;
  line-height: 1.6;
  padding: 30px;
  padding-top: 10px;
  position: relative;
  z-index: 100; }

.main-content .page-title {
  border-bottom: 1px solid #C19A46;
  color: #922A1E;
  font-weight: bold;
  font-size: 33px;
  margin: 0 -5px 20px;
  padding: 0 5px 10px; }
.main-content p,
.main-content ul,
.main-content ol {
  font-family: Georgia, "Times New Roman", Times, serif; }
.main-content h2 {
  color: #922A1E; }
.main-content h2 {
  border-bottom: 1px solid #eee3cc;
  font-size: 24px;
  font-weight: bold;
  margin: 25px -5px 20px;
  padding: 0 5px 10px; }
.main-content h3 {
  font-weight: bold;
  font-size: 20px; }
.main-content a {
  text-decoration: underline; }
.main-content .mw-editsection {
  color: #3D3D3D;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase; }
  .main-content .mw-editsection a {
    text-decoration: none; }
.main-content blockquote {
  background-color: #F4F4EF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px; }

.main-content-nav {
  margin-bottom: 20px; }

.p-views,
.p-actions {
  margin: 0;
  padding: 0; }
  .p-views li,
  .p-actions li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0; }
    .p-views li:last-child,
    .p-actions li:last-child {
      margin-right: 0; }
    .p-views li.selected a,
    .p-actions li.selected a {
      color: #3D3D3D; }

.catlinks {
  background-color: #F4F4EF;
  margin-top: 40px;
  padding: 10px 15px; }
  .catlinks .mw-normal-catlinks > a {
    float: left; }
  .catlinks ul {
    display: inline;
    margin: 0;
    padding: 0; }
    .catlinks ul li {
      display: inline-block;
      list-style: none;
      margin: 0 5px 0 0;
      padding: 0; }
      .catlinks ul li a {
        border-right: 1px solid #c0c0a3;
        padding-right: 5px; }

.nav-page {
  position: relative;
  top: 4px;
  padding-left: 15px; }
  @media screen and (max-width: 500px) {
    .nav-page {
      display: block;
      float: none !important; } }
  .nav-page ul {
    margin: 0; }
  .nav-page li {
    padding: 0; }
    .nav-page li a {
      background-color: #FCF2BF;
      border: 1px solid #C19A46;
      display: inline-block;
      padding: 2px 7px; }
    .nav-page li.selected {
      top: -3px;
      position: relative; }
      .nav-page li.selected a {
        background-color: #fff;
        border-bottom: none;
        padding: 4px 13px;
        position: relative;
        z-index: 110; }

.search--wrapper {
  position: relative;
  top: -7px; }
  @media screen and (max-width: 500px) {
    .search--wrapper {
      display: block;
      float: none !important; } }
  .search--wrapper input {
    height: 24px; }
  .search--wrapper button {
    padding: 2px 10px; }
  .search--wrapper .form-group {
    display: inline-block;
    margin-bottom: 0; }

#p-personal {
  margin-bottom: 10px; }
  @media screen and (min-width: 992px) {
    #p-personal {
      margin-top: 15px;
      margin-bottom: 0;
      text-align: right; } }
  #p-personal ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #p-personal ul li {
      display: inline-block;
      margin-right: 10px; }

body {
  background: url("../img/bkg.jpg") top left #FCF2BF;
  padding-bottom: 50px; }
