.catlinks {
  background-color: $gray;
  border-radius: 3px;
  margin-top: 3rem;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;

  .mw-normal-catlinks {
    display: flex;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        padding: 0.5rem;
      }

      + li {
        border-left: 1px solid darken($gray, 25%);
      }
    }
  }
}
