.header {
  background-color: #fff;
  border-top: 10px solid $red;
  border-bottom: 1px solid $gold;
  margin-bottom: 30px;
}

.site-name {
  color: $red;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0 0;

  @media screen and (min-width: 992px) {
    margin-bottom: 10px;
  }

  a {
    color: $red;
  }
}

.header ul.list-inline {
  float: left;
}

#menu {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
}
