.main-content-wrapper {
  background-color: #fff;
  border: 1px solid $gold;
  border-radius: 3px;
  line-height: 1.6;
  padding: 2rem;
  padding-top: 1rem;
  position: relative;
  margin-bottom: 10rem;
}
.main-content {
  .page-title {
    border-bottom: 1px solid $gold;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    border-bottom: 1px solid lighten($gold, 35%);
    padding-bottom: 0.5rem;
    margin-top: 2rem;
  }

  h3 {
    color: $dark;
    margin-top: 1.5rem;
  }

  h4 {
    color: $dark;
    margin-top: 1.5rem;
  }

  .mw-editsection {
    color: $dark;
    font-size: 0.6em;
    font-weight: normal;
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 0.5rem;
    position: relative;
    top: -0.1em;

    a {
      text-decoration: none;
    }
  }

  blockquote {
    background-color: $gray;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}
