.sidebar {
  background-color: $yellow;
  border: 1px solid $gold;
  border-radius: 3px;
  padding: 10px;
  width: 100%;

  @include media(">lg") {
    width: 250px;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-family: $font-family-sans-serif;
  }

  li {
    line-height: 1.2;
    list-style: none;
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;
  }

  h3 {
    color: $darkOnGold;
    font-size: 1.1rem;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    li {
      display: inline-block;
      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "";
      }
    }
  }

  .mw-portlet {
    padding: 10px;

    + .mw-portlet {
      border-top: 1px solid $gold;
      padding-top: 20px;
    }
  }
}
