a,
a:focus {
  color: $linkColor;
}
a:hover {
  color: lighten($linkColor,10%);
}

a.new {
  color: $redBright;

  &:hover {
    color: lighten($redBright,10%);
  }
}
a[href]:after {
  content: '';
}
a.external {
  &:after {
    content: '\f08e';
    font-family: $ff-fa;
    font-size: .7em;
    margin-left: 3px;
  }
}