// 	==================================================================
//	Variables
// 	==================================================================

//  Fonts
$ff-sans-serif-default   : Verdana, Geneva, sans-serif;
$ff-sans-default : "Helvetica Neue", Helvetica, Arial, sans-serif;
//$ff-sans: "ff-meta-web-pro", $ff-sans-default;

//  Colors
$blue: #10499E;
$lightBlue: #00A6E9;
$green: #88C86A;
$yellow: #FEC938;
$lightYellow : #fff379;
$red: #E5173F;

$linkColor: $lightBlue;