// 	==================================================================
//	Variables
// 	==================================================================

//  Fonts
$ff-sans-serif-default: Verdana, Geneva, sans-serif;
$ff-sans-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$ff-serif: Georgia, 'Times New Roman', Times, serif;
$ff-fa: "FontAwesome";

//  Colors
$red: #922A1E;
$redBright: #BB0000;
$gold: #C19A46;
$yellow: #FCF2BF;
$blue: #0069D6;
$gray: #F4F4EF;
$dark: #3D3D3D;
$darkOnGold: #4B3C1C;

$text: $dark;
$textOnGold: $darkOnGold;
$linkColor: $blue;
