{% block body %}
<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-parser-output"><div class="jumbotron">
<h1><span id="Drinking_&amp;_Dragons_Wiki"></span><span class="mw-headline" id="Drinking_.26_Dragons_Wiki"><span class="text-danger">Drinking &amp; Dragons Wiki</span></span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=1" title="Edit section: Drinking &amp; Dragons Wiki">edit</a><span class="mw-editsection-bracket">]</span></span></h1>
<p>This site is a record of gaming by a group of friends.
</p>
<div class="row">
<div class="col-xs-8">
<h2><span class="mw-headline" id="Hosted_Campaigns">Hosted Campaigns</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=2" title="Edit section: Hosted Campaigns">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<h4><span class="mw-headline" id="Active">Active</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=3" title="Edit section: Active">edit</a><span class="mw-editsection-bracket">]</span></span></h4>
<ul><li><a href="/wiki/NPC_Codex" title="NPC Codex">NPC Codex</a> (Pathfinder)</li>
<li><a href="/wiki/Category:Wednesday_Knight_Games" title="Category:Wednesday Knight Games">Wednesday Knight Games</a></li>
<li><a href="/wiki/Category:GPCFBRPGN" title="Category:GPCFBRPGN">GPCFBRGN</a> (13th Age)</li>
<li><a href="/wiki/Disposable:Gamedays" title="Disposable:Gamedays">Disposable Game Days</a></li></ul>
<h4><span id="Inactive/Closed"></span><span class="mw-headline" id="Inactive.2FClosed">Inactive/Closed</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=4" title="Edit section: Inactive/Closed">edit</a><span class="mw-editsection-bracket">]</span></span></h4>
<ul><li><a href="/wiki/Category:Royal_Pride_of_Musketeers" title="Category:Royal Pride of Musketeers">Royal Pride of Musketeers</a> (Fate)</li>
<li><a href="/wiki/Category:Archivists" title="Category:Archivists">The Archivists</a> (13th Age)</li>
<li><a href="/wiki/Category:Accords" title="Category:Accords">Accords</a> (Fate, DFA)</li>
<li><a href="/wiki/Category:ROR" title="Category:ROR">Rise of the Runelords (Pgh)</a> (Pathfinder Adventure Path)</li>
<li><a href="/wiki/Category:DOPES" title="Category:DOPES">D.O.P.E.S. Cinematic Universe</a> (Fate)</li>
<li><a href="/wiki/Category:Brewed_Awakening" title="Category:Brewed Awakening">Brewed Awakening</a> (Fate)</li>
<li><a href="/wiki/Category:Duck" title="Category:Duck">Duck Tales</a> (Fate)</li>
<li><a href="/wiki/Category:Rise_of_the_Runelords" title="Category:Rise of the Runelords">Rise of the Runelords (Randy)</a> (Pathfinder Adventure Path)</li>
<li><a href="/wiki/Category:Vat" title="Category:Vat">Vat</a> (Unisystem Classic)</li>
<li><a href="/wiki/Category:Defenders" title="Category:Defenders">Defenders</a> (Mutants &amp; Masterminds)</li>
<li><a href="/wiki/Category:Ludhumus" title="Category:Ludhumus">Ludhumus</a> (Pathfinder)</li>
<li><a href="/wiki/Category:Wild" title="Category:Wild">Wilding</a> (D20 Homebrew, anything can mate with anything)</li>
<li><a href="/wiki/Category:The_New_World" title="Category:The New World">The New World</a> (Discover the new world, True20)</li>
<li><a href="/wiki/Category:Arcanis" title="Category:Arcanis">The Hawk and the Shield</a> (Arcanis)</li>
<li><a href="/wiki/Category:TOEE" title="Category:TOEE">Return to the Temple of Elemental Evil</a> (Core only/Roleplaying Campaign, aborted before started)</li>
<li><a href="/wiki/Category:DS" title="Category:DS">Dragonstar</a> (D&amp;D in space)</li>
<li><a href="/wiki/Category:IK" title="Category:IK">Iron Kingdoms</a> (D&amp;D with guns and mechs)</li>
<li><a href="/wiki/Category:LRC" title="Category:LRC">Lone Rock City</a> (Forgotten Realms)</li></ul>
</div>
<div class="col-xs-4">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><span class="mw-headline" id="Site_Statistics">Site Statistics</span></h3>
</div>
<div class="panel-body">
<ul><li>Launched on 28 July 2005 (14 years old)</li>
<li>Pages: 5,177</li>
<li>Files: 1,045</li>
<li>Edits: 31,580</li></ul>
</div>
</div>
</div>
</div>
</div>
<h2><span class="mw-headline" id="Noncampaign_Articles">Noncampaign Articles</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=5" title="Edit section: Noncampaign Articles">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Not many articles fall into this category. These are the most accessed ones.
</p>
<ul><li>The <i>Spell Compendium</i> missed an opportunity to expand the spell lists of noncore classes, so there are a few attempts to fix that.
<ul><li><a href="/wiki/Dread_Necromancer_Spell_List" title="Dread Necromancer Spell List">Dread Necromancer Spell List</a></li>
<li><a href="/wiki/Duskblade_Spell_List" title="Duskblade Spell List">Duskblade Spell List</a></li>
<li><a href="/wiki/Healer_Spell_List" title="Healer Spell List">Healer Spell List</a></li>
<li><a href="/wiki/Shaman_Spell_List" title="Shaman Spell List">Shaman Spell List</a></li></ul></li>
<li><a href="/wiki/Wild_Shape_Medium" title="Wild Shape Medium">List of all core wild shape forms (d20 3.5)</a></li>
<li><a href="/wiki/Rules/Skills" title="Rules/Skills">Skills fix for d20 3.5</a> Very good fix that has been road-tested in several campaigns.</li>
<li><a href="/wiki/Rules/Hardness" title="Rules/Hardness">Rules/Hardness</a> Clarification for d20 3.5</li>
<li><a href="/wiki/User:Askewnotion/FistFulla6" title="User:Askewnotion/FistFulla6">FistFulla6</a>, a homebrew gaming system</li></ul>

<p>I finally was able to talk with Ysabet. She intimated to me that she had urgent discussions she wanted to have with me, and was happy I was there. We made plans to meet more discretely after the wake, though we decided to accelerate the schedule after comparing a few notes.</p><p>

Ysabet had been investigating the fire and discovered Hands of Liberty uniform remnants and badges in the wreckage. That, with things not being right about Amanta supposedly opposing the construction, led her to investigate everything round town and the family.</p><p>

Many irregularities were found in Mother Tirtsa's books. She had a sizable set of large obligations to various banks in Condrol. She was overextended and the banks (as political pawns) had been attempting to leverage her, though she did not give in.</p><p>

There was also word that the "army has found the gods", referring to the Stag Lady and Lord. That is to say, Condrol is influencing the military in the pass!</p><p>

Oh, and a Hands of Liberty squad is coming, likely drawn by OneTusk's fireworks.</p>
<h2><span id="What_is_a_wiki?"></span><span class="mw-headline" id="What_is_a_wiki.3F">What is a wiki?</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=6" title="Edit section: What is a wiki?">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>A wiki is a web-based community tool that allows multiple users to edit the pages.
</p>
<h3><span id="How_do_I_get_an_account?"></span><span class="mw-headline" id="How_do_I_get_an_account.3F">How do I get an account?</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=7" title="Edit section: How do I get an account?">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>You contact one of the admins of the wiki and they will give you an account.
</p>
<h3><span id="How_do_I_edit_pages?"></span><span class="mw-headline" id="How_do_I_edit_pages.3F">How do I edit pages?</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=8" title="Edit section: How do I edit pages?">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>Short answer: Click the edit tab, change the text, preview it, save the page. That's it!
</p><p>The long version: <a rel="nofollow" class="external text" href="http://meta.wikimedia.org/wiki/Help:Editing">Editing Basics for Mediawiki</a>
</p><p>If you want to mess around and try some stuff out, please do it in the <b><a href="/w/index.php?title=Sandbox&amp;action=edit&amp;redlink=1" class="new" title="Sandbox (page does not exist)">Sandbox</a></b> rather than on a live page.
</p>
<h3><span class="mw-headline" id="Wiki_Work">Wiki Work</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Main_Page&amp;action=edit&amp;section=9" title="Edit section: Wiki Work">edit</a><span class="mw-editsection-bracket">]</span></span></h3>
<p>Work that needs to be done on the Wiki...
</p>
<ul><li><a href="/wiki/Category:Delete" title="Category:Delete">Category:Delete</a> candidates for deletion (marked with {{Delete}}).</li>
<li><a href="/wiki/Category:Deimage" title="Category:Deimage">Category:Deimage</a> media that should be regular pages (marked with {{Deimage}}).  These files should probably be deleted from the wiki.  If their information is needed, make them wiki pages instead of files.  If you get bored...</li>
<li><a href="/wiki/Category:Integrate" title="Category:Integrate">Category:Integrate</a> pages that need to be merged, linked to/from, etc (marked with {{Integrate}}).</li>
<li><a href="/wiki/Special:LonelyPages" title="Special:LonelyPages">Special:LonelyPages</a>, <a href="/wiki/Special:UnusedFiles" title="Special:UnusedFiles">Special:UnusedFiles</a>, <a href="/wiki/Special:UnusedTemplates" title="Special:UnusedTemplates">Special:UnusedTemplates</a> These pages have no links to them.  Mark anything with {{Delete}} to recommend it for deletion.</li></ul>
<!--
NewPP limit report
Cached time: 20200501194550
Cache expiry: 3600
Dynamic content: true
CPU time usage: 0.054 seconds
Real time usage: 0.072 seconds
Preprocessor visited node count: 65/1000000
Preprocessor generated node count: 162/1000000
Post‐expand include size: 16/2097152 bytes
Template argument size: 0/2097152 bytes
Highest expansion depth: 2/40
Expensive parser function count: 0/100
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 44/5000000 bytes
-->
<!--
Transclusion expansion time report (%,ms,calls,template)
100.00%    0.000      1 -total
-->

<!-- Saved in parser cache with key drinkinganddragons_wiki2-lrc_wiki:pcache:idhash:1-0!canonical and timestamp 20200501194550 and revision id 33462
 -->
</div></div>


{% endblock %}