{% block categories %}
<div id="catlinks" class="catlinks" data-mw="interface">
  <div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Special:Categories" title="Special:Categories">Category</a>:
    <ul>
      <li><a href="/wiki/Category:Site" title="Category:Site">Site</a></li>
      <li><a href="/wiki/Category:Site" title="Category:Site">Site</a></li>
      <li><a href="/wiki/Category:Site" title="Category:Site">Site</a></li>
      <li><a href="/wiki/Category:Site" title="Category:Site">Site</a></li>
      <li><a href="/wiki/Category:Site" title="Category:Site">Site</a></li>
    </ul>
  </div>
</div>
{% endblock %}