<div class="col-lg">
  <a href="#primaryMenu" id="menu" class="d-lg-none">Menu</a>
  <h1 class="site-name"><a href="/">Drinking &amp; Dragons</a></h1>
</div>

<div class="col-lg pb-2 pb-lg-0">

  {% block personalTools %}
  <div role="navigation" class="mw-portlet" id="p-personal">
    <h3>Personal tools</h3>
    <ul>
      <li id="pt-userpage"><a href="/wiki/User:Wizardoest" dir="auto" title="Your user page [ctrl-option-.]" accesskey=".">Wizardoest</a></li>
      <li id="pt-mytalk"><a href="/wiki/User_talk:Wizardoest" title="Your talk page [ctrl-option-n]" accesskey="n">Talk</a></li>
      <li id="pt-preferences"><a href="/wiki/Special:Preferences" title="Your preferences">Preferences</a></li>
      <li id="pt-watchlist"><a href="/wiki/Special:Watchlist" title="A list of pages you are monitoring for changes [ctrl-option-l]" accesskey="l">Watchlist</a></li>
      <li id="pt-mycontris"><a href="/wiki/Special:Contributions/Wizardoest" title="A list of your contributions [ctrl-option-y]" accesskey="y">Contributions</a></li>
      <li id="pt-logout"><a href="/w/index.php?title=Special:UserLogout&amp;returnto=Main+Page&amp;logoutToken=334c9c1b148024c6ffe0e1ec3a2121d05eac88e4%2B%5C" title="Log out">Log out</a></li>
    </ul>
  </div>
  {% endblock %}

</div>