<form action="/w/index.php" role="search" class="mw-portlet" id="p-search">
  <input type="hidden" name="title" value="Special:Search">

  <input type="search" name="search" placeholder="Search Drinking and Dragons" title="Search Drinking and Dragons [ctrl-option-f]" accesskey="f" id="searchInput" autocomplete="off">

  <input type="submit" name="go" value="Go" title="Go to a page with this exact name if it exists">
</form>