<div role="navigation" class="mw-portlet" id="p-Campaigns">
			<h3>
				Campaigns			</h3>

			<ul><li id="n-NPC-Codex"><a href="/wiki/NPC_Codex">NPC Codex</a></li><li id="n-Wednesday-Knight-Games"><a href="/wiki/Category:Wednesday_Knight_Games">Wednesday Knight Games</a></li><li id="n-GPCFBRPGN"><a href="/wiki/Category:GPCFBRPGN">GPCFBRPGN</a></li></ul>		</div>