<div role="navigation" class="mw-portlet" id="p-Wiki_Navigation">
			<h3>
				Wiki Navigation			</h3>

			<ul><li id="n-mainpage"><a href="/wiki/Main_Page" title="Visit the main page [ctrl-option-z]" accesskey="z">Main Page</a></li><li id="n-recentchanges"><a href="/wiki/Special:RecentChanges" title="A list of recent changes in the wiki [ctrl-option-r]" accesskey="r">Recent changes</a></li><li id="n-randompage"><a href="/wiki/Special:Random" title="Load a random page [ctrl-option-x]" accesskey="x">Random page</a></li><li id="n-Upload-Images.2FFiles"><a href="/wiki/Special:Upload">Upload Images/Files</a></li></ul>		</div>